<h1 class="titles">そうだん</h1>

<!--そうだんの使い方・画像コンテナ-->
<div class="container_qa">
<div class="rowA qa">
 <!--そうだんの使い方パネル-->
 <div class="col-md-offset-1 col-md-8 col-xs-10 panel panel-default qa">
 	<div class="panel-heading">
 		"そうだん”の使い方
 	</div>
 	<div class="panel-body">
 		授業の準備中に、なかなかいい伝え方が浮かばなくて長い時間悩んだり、
 		文法の分析がうまく進まなくて苦しんだり、
 		違和感のある会話や文を目にして「あれ？これ、どう教えよう…？」と思ったり、
 		「みんなならどうする？？」って、相談したい時、ありませんか。
 	  いい授業をするための質問なら、なんでもOK。
 	  ここでアドバイスし合って、いい授業をしていきましょう！	
 	</div>
	</div>
<!--そうだんの使い方パネルおわり-->
<!--画像-->
 <div class="col-md-3 col-xs-11">
   <%= image_tag 'postit.jpg', :size =>'300x200' %>
 </div>
<!--画像終わり-->
 <br>
</div>
</div>
<!--そうだんの使い方・画像コンテナ終わり-->


<!--ログイン・未ログイン分岐-->
<!--質問検索-->
<div class="container_qa">
 <div class="rowB qa">
  <div class="col-md-offset-1 col-md-8 col-xs-10 panel panel-default qa search">
 <!--ransack -->
  <%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :content_cont, "質問を検索" %>
    <%= f.text_field :content_or_title_or_keyword_cont %>
    <%= f.submit "Search" %></div>
  </div>
 <% end %>
 </div>
</div>
<!--質問検索終わり-->

<!--みんなの質問一覧-->
<div class="container_qa">
 <div class="rowC qa">
  <div class="col-md-offset-1 col-md-8 col-xs-11 panel panel-default qa">
   <h2>みんなの質問</h2>
    <p>☞タイトルを選ぶと、詳細ページに移ります。</p>
    
   
<!--ログイン・未ログイン分岐-->
<!--ログインしてたら、タイトルにリンクがつく-->
    <%# if user_signed_in? %>
     <ul>
      <% @questions.each do |question| %>
      <li><%= link_to question.title, question_path(question.id) %>
          <%= link_to '[削除]', question_path(question.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
      </li>
      <% end %>
     </ul>
     
<!--ログインしていなかったら、タイトル（リンクなし）表示のみ＋ログイン促進ボタン   -->
   <%# else %>
   <!--  <ul>-->
   <!--   <%# @questions.each do |question| %>-->
       <li><%#=link_to question.title, question_path(question.id) %>
   <!--    <li><%#= question.title %>-->
   <!--   <%# end %>-->
   <!--     <h4>「みんなの質問を見る」には、下のボタン（または上のリンク）から、ログインをお願いします。</h4>-->
   <!--     <%#= link_to "SIGN UP", new_user_registration_path, class: 'btn-1 btn-sm' %>-->
   <!--     <%#= link_to "LOG IN", new_user_session_path, class: 'btn-4 btn-sm' %>-->
   <!--  </ul>-->
   <!--<%# end %>-->
<!--分岐終わり-->

   <br>
  </div>
 </div>
</div>
<!--みんなの質問一覧おわり-->


<!--質問する-->

<!--ログインしてたら、質問投稿欄-->
    <%# if user_signed_in? %>
     <div class="col-md-offset-1 col-md-8 col-xs-10 panel panel-default qa last">
      
      <!--バリデーション--エラー中>
      <!--<%#= form_with(model: @question, local: true) do |form| %>-->
      <!-- <%# if @question.errors.any? %>-->
      <!--   <div id="error_explanation">-->
      <!--     <h2><%#= @question.errors.count %>件のエラーがあります。</h2>-->
      <!--     <ul>-->
     
      <!--     <%# @question.errors.full_messages.each do |msg| %>-->
      <!--       <li><%#= msg %></li>-->
      <!--     <%# end %>-->
      <!--     </ul>-->
      <!--   </div>-->
      <!-- <%# end %>-->
      <!--<%# end %>-->

      
      <h2>質問する</h2>
       <p>☞一覧にはタイトルのみ表示されるので、内容がわかりやすいものを。</p>
        <%= form_for @newQuestion, :url => {:action => 'create'} do |f| %>
       <p>
        title: <%= f.text_field :title %>
       <br>
        question:<%= f.text_area :content %>
       <br>
       <!--キーワードを入れたい-->
        keyword:<%= f.text_area :keyword %></p>
        <%= f.submit ' CREATE question ', class:'btn-5 btn-sm' %>
       <% end %>
     </div>  
 
  <!--ログインしていなかったら、ログイン促進ボタン表示-->
    <%# else %>
    <!-- <div class="col-md-offset-1 col-md-8 col-xs-11 panel panel-default qa last">-->
    <!--  <h2>質問する</h2>-->
    <!--  <h4>「質問する」には、下のボタン（または上のリンク）から、ログインをお願いします。</h4>-->
      <%#= link_to "SIGN UP", new_user_registration_path, class: 'btn-1 btn-sm' %>
      <%#= link_to "LOG IN", new_user_session_path, class: 'btn-4 btn-sm' %>
    <!-- </div>-->
    <%# end %>
    
    <br> <br>
 </div>
 <br> 
</div>
<!--分岐終わり-->
<!--質問する終わり-->

