<div class="container_qa">
<div class="rowA qa">
 <div class="col-md-offset-1 col-md-10 col-xs-10 panel panel-default qa">
	<div class="panel-heading">
   質問
  </div>
	<div class="panel-body">
   <h2>Title:  <%= @question.title %></h2>
   <h3>Question:
   <br>「<%= @question.content %>」</h4>
   <h4>Keyword:[<%= @question.keyword %>]</h4>
  </div>
</div>
</div>
</div>

<div class="container_qa">
<div class="rowB qa">
<div class="col-md-offset-1 col-md-10 col-xs-10 panel panel-default qa">
  <div class="panel-heading">
   回答する
  </div>
  <br>
<%= form_for @newanswer, :url => question_path do |f| %>
  <p>お名前:<%= f.text_field :name, :size=>"15x2"  %></p>
  <p>回答：<%= f.text_area :body, :size=>"80x4" %></p>
  <%= f.hidden_field :question_id %>
  <%= f.submit ' ANSWER ', class:'btn-5 btn-sm' %>
<% end %>
<br>
</div>
</div>
</div>

<div class="container_qa">
<div class="rowC qa">
<div class="col-md-offset-1 col-md-10 col-xs-12">

<h2>みんなの回答</h2>

<% @answers.each_with_index do |answer , idx| %>
<div class="balloon1">
  <p>
    <%= idx + 1 %>. <%= answer.name %>さん : <%= answer.body %>
  </p>
<!--投稿したユーザー本人だけが削除できる  未実装-->
 <%# if user_id == current_user.id %>
  <p><%= link_to '[削除]', answer_path(@question.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %></p>
 <%# else %>
  <p></p>
 <%# end %>  
</div>

<% end %>
</div>
</div>
</div>

<div class="container_qa">
<div class="rowD qa">
<div class="col-md-offset-1 col-md-10 col-xs-10">

<div class ="linkbtn">
  <%= link_to "  index  ", questions_path, class: "btn btn-2" %>
</div>