<h1 class="titles">レッスンのコツとアイデア</h1>

 <!--ideaの趣旨説明-->
  <div class="well well-sm ideashushi" style="font-family:'shirokuma";>
    <h3 class="ideashushi">これまでおしえてきて気がついたレッスンのちょっとしたコツや
      <br>きをつけないといけないこと、学びにつながるアイデアをシェアします。
    </h3>  
  </div>
  <!--趣旨説明おわり-->


<!--スマホ以外の画面に適用-->
<div class="table-responsive ideatable pc">
  <table class="table table-hover ideatable">
      
   <!--ログイン済み-->
   <% if user_signed_in? %>  
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ideas.each do |idea| %>
        <tr>
          <td class="titleonly"><%= idea.title %></td>
          <td><p class="ellipsis"><%= idea.content %></p></td>
          <td class="labshowbtn"><%= link_to 'Show', idea, class: 'btn btn-2' %></td>
        </tr>
      <% end %>
    </tbody>
   
   <!--<!--未ログイン-->
   <% else %>
    <h4>　　投稿をよむには、☞のボタン（または上のリンク）から、ログイン（or サインアップ）をお願いします。 <br><br>
       <%= link_to "SIGN UP", new_user_registration_path, class: 'btn-1 btn-sm minibtn' %>
       <%= link_to "LOG IN", new_user_session_path, class: 'btn-4 btn-sm' %></h4> 
     <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    
    <tbody>
      <% @ideas.each do |idea| %>
        <tr>
          <td class="titleonly"><%= idea.title %></td>
        </tr>
      <% end %>
    </tbody>
    
   <% end %>
  </table>
</div>



<!--★★★スマホ画面に適用-->
<div class="table-responsive ideatable mb">
  <table class="table table-hover ideatable mb">
      
   <!--ログイン済み-->
   <% if user_signed_in? %>  
    <thead class="mbtable">
      <tr>
        <th>Title</th>
        <!--<th>Content</th>-->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="mbtable">
      <% @ideas.each do |idea| %>
        <tr>
          <td class="titleonly"><%= idea.title %></td>
          <!--<td><p class="ellipsis"><%= idea.content %></p></td>-->
          <td class="labshowbtn"><%= link_to 'Show', idea, class: 'btn btn-2' %></td>
        </tr>
      <% end %>
    </tbody>
   
   <!--未ログイン-->
   <% else %>
    <h4>　　投稿をよむには、☞のボタン（または上のリンク）から、ログイン（or サインアップ）をお願いします。   
       <%= link_to "SIGN UP", new_user_registration_path, class: 'btn-1 btn-sm minibtn' %>
       <%= link_to "LOG IN", new_user_session_path, class: 'btn-4 btn-sm' %></h4> 
     <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    
    <tbody>
      <% @ideas.each do |idea| %>
        <tr>
          <td class="titleonly"><%= idea.title %></td>
        </tr>
      <% end %>
    </tbody>
    
   <% end %>
  </table>
</div>
<!--★★★スマホ画面に適用おわり-->