<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <!-- ビューポートの設定 -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- スタイルシートの読み込み -->
   <link href="topics.scss" rel="stylesheet">

</head>

<body class ="posts">

 <div class="wrap">
 
  <div class="main" style="font-size: 1.5rem; text-align:left;">
    <h3>投稿する</h3>
     <h4>【手順】</h4>
     <p>1. ダイアログ（対話）またはセンテンス記入する。<br>
        2. どんな状況での発話だったかも記入する。<br>
        3. [create]ボタンを押して投稿する。</br>
        4. 投稿されたら、[投稿完了しました！]ボタンを押す。</p>
     <br>
    
    <%= form_for @newpost, :url => posts_path do |f| %>
    <h3><%= f.label :"話した・聞いた日本語の実例" %></h3>
     <p><%= f.text_area :example, :size=>"40x6" %></p>
     <!--<div><%#= f.file_field :image, id: :post_image, multiple: true %></div>-->
     <br>
    <h3><%= f.label :"発話状況" %></h3>
     <p><%= f.text_area :memo, :size=>"40x3" %></p>
     <%= f.hidden_field :topic_id %>
     <%= f.submit ' CREATE ', class: 'btn-5 btn-sm' %>
     <% end %>

  <br>
  <p>☞右側にあなたの投稿が表示されたら、<br>
  下の「投稿完了しました！」ボタンをおしてください。</p>
  <br>
  <!--投稿完了ボタン-->
  <div class="linkbtn">
    <button type="button" id="modal-open" class="btn-4 btn-lg  button-link">投稿完了しました！</button>
  <!-- ここまでモーダルウィンドウ -->
  </div>
  
 </div>
<!--main終わり -->

<!--投稿されたもの一覧-->
 
  <div class = "examplepost" style="font-size: 1.5rem; text-align:left;">
  <h2>文法項目：【<%= @topic.title %>】</h2>
    <br>  
    <% @posts.each_with_index do |post , idx| %>
     <div class ="well well-sm eachpost">   
      <span class="box-title"><%= idx + 1 %>.</span>
      <p>実例:<%= simple_format(post.example) %></p>
      <hr width="500" size="1" color="#fdd835" style="border-style:dotted">
      <p>発話状況: <%= simple_format(post.memo) %></p>
      <!--<p>Image:-->
      <%#= image_tag post.image %>
      <!--</p>-->
      <p><%#= post.created_at %><%= link_to '[削除]', post_path(@topic.id), 
                               method: :delete, 
                               data: {confirm: "削除してもよろしいですか？"}  %></p>     
     </div>
    <% end %>
  </div>
<!--投稿終わり-->

 </div>
 <!--wrapおわり-->


<!--ボタン-->
<div class ="linkbtn">
  <%= link_to "  index  ", topics_path,class: "btn btn-2" %>
</div>
<!--ボタン終わり-->


<!-- ここからモーダルウィンドウ -->
  <div id="modal-content">
  	 <!--モーダルウィンドウのコンテンツ開始 -->
  	<h2 class="modaltext">♡とうこう、ほんとうにありがとうございます！♡</h2>
  	<h3 class="modaltext">あなたの”とうこう”が、きっとやくだちます！</h3>
  	<h3 class="modaltext">ブラウザをとじるまで、すべてのコンテンツが見られます。</h3>
  	
  	 <!--モーダルウィンドウのコンテンツ終了 -->
  </div>
<!-- ここまでモーダルウィンドウ -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="modal.js"></script>

</body>
</html>

