<body class ="posts">

 <div class="wrap">
 
  <div class="main">
    <h4>文法項目：</h4><h2>【<%= @topic.title %>】</h2>
    
    <br>
    
    <div class="searchbox">
     <%= form_tag topic_path, :method => 'get' do %>
      <p class = "searchbox">
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search",:name => nil %>
      </p>
     <% end %>
    </div>
    <br>


 </div>
</div>


  <div class = "examplepost">
   
    <% @posts.each_with_index do |post , idx| %>
     <div class = eachpost>   
      <span class="box-title"><%= idx + 1 %>.</span>
      <p>実例:<%= simple_format(post.example) %></p>
      <hr>
      <p>発話状況: <%= simple_format(post.memo) %></p>
      <p><%= link_to '[削除]', post_path(@topic.id), 
                            method: :delete, 
                            data: {confirm: "削除してもよろしいですか？"}  %></p>

     </div>
  
　  <% end %>
  </div>

</div>

<div class ="linkbtn">
  <%= link_to "  index  ", topics_path,class: "btn btn-2" %>
</div>

</body>