<body class ="posts">

 <div class="wrap">
 
  <div class="main">
 
   <div class="panel-heading">
  	  <h4>文法項目</h4>
  	</div>
  	<div class="panel-body">
  		 <h2>【<%= @topic.title %>】</h2>
 	 </div>
   
  <div>
    <h4>そのほかの文法項目</h4>
    
    <!--table式文法項目一覧 each do エラー中--> 
        <!-- <table>-->
        <!--   <tr>-->
        <!--    <th>  文法項目  </th>  -->
        <!--   </tr>-->
            <%# @topics.each do |topic| %>
        <!--   <tr>-->
            <td><%#= link_to topic.title, topic_path(topic.id) %></td>
        <!--   </tr>-->
            <%# end %>
        <!-- </table>-->
        <!--一覧終わり    -->
   <!--文法項目一覧-->
    
     <ul>
      <% @posts.each do |post| %>
      <li><%= link_to @topic.title, topic_path(@topic.id) %>
          <%#= link_to '[削除]', topic_path(@topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
      </li>
      <% end %>
     </ul>
   <!--一覧終わり    -->


    <p><%#= topic.title: topic_id, Topic.all, :id, :title %></p>
  </div>
 
 </div>

  <div class = "examplepost">
   
    <% @posts.each_with_index do |post , idx| %>
     <div class = eachpost>   
      <span class="box-title"><%= idx + 1 %>.</span>
      <p>実例:<%= simple_format(post.example) %></p>
      <hr>
      <p>発話状況: <%= simple_format(post.memo) %></p>
      <p><%= link_to '[削除]', post_path(@topic.id), 
                            method: :delete, 
                            data: {confirm: "削除してもよろしいですか？"}  %></p>
     </div>
　  <% end %>
  </div>

</div>

<div class ="linkbtn">
  <%= link_to "  index  ", topics_path,class: "btn btn-2" %>
</div>

</body>


    <!--<div class="searchbox">-->
    <!-- <%#= form_tag topic_path, :method => 'get' do %>-->
    <!--  <p class = "searchbox">-->
    <!--    <%#= text_field_tag :search, params[:search] %>-->
    <!--    <%#= submit_tag "Search",:name => nil %>-->
    <!--  </p>-->
    <!-- <%# end %>-->
    <!--</div>-->
    <!--<br>-->


   <!-- <table border="1 index">-->
   <!-- <tr>-->
   <!--  <th>文法項目</th>  -->
   <!--  <th>総回答数</th>-->
   <!--  <th>クリア</th> -->
   <!-- </tr>-->
     <%# @topics.each do |topic| %>
   <!-- <tr>-->
     <td><%#= link_to topic.title, topic_path(topic.id) %></td>
     <!--下のtdに総回答数-->
   <!--  <td></td>-->
     <!--下のtdに回答済みならスタンプ-->
     <!--<td></td>-->
   <!-- </tr>-->
   <%# end %>
   <!--</table>-->
   