<body class = "top">
 

<!--ロゴ部分のコンテナ-->
<div class="containe-fluid top pc">
  <div class="rowA pc">
   <div class="col-md-offset-2 col-md-4 pc">
     <br>

  <!--ロゴ３行-->
    <div class="logo pc">
      <b>に<span>ほ</span>ん<span>ご</span></b>
      <br>
      <b>き<span>ょ</span>う<span>し</span><span>の</span></b>
      <br>
      <b>ほ<span>し</span>い<span>も</span>の。</b>
    </div>
    <br><br>
　　　<!--ツイッタフォローボタン-->
       <a href="https://twitter.com/nihongokyooshi1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @にほんごきょうしのほしいもの。</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
   </div>
  </div>
<div>
<!--ロゴコンテナ終わり-->

<!--リンク（5つのイイメージ画像）部分のコンテナ  -->
<div class="container toplink pc">
 <div class="row pc">
 
 <!--リンク画像（左側3つ）-->
 <div class="col-md-2 pc">
    <!--<div class="col-xs-3 col-xs-offset-2">-->
      <div class="toplink pc">
    	<%= link_to(image_tag('link-atsume.png'), topics_path) %> 
      </div>
    	<div class="toplink pc">
    	<%= link_to(image_tag('link-lab.png'), labs_path) %> 
      </div>
    	<div class="toplink pc">
    	<%= link_to(image_tag('link-soodan.png'), questions_path) %> 
      </div>
 </div>
 <!--3つ終わり-->
  
 <!--リンク画像（右側2つ）-->
 <div class="col-md-2 pc">
  <div class="col-xs-3 col-xs-offset-3 pc">
      <br><br>
    	<div class="toplink pc">
    	<br><br>
      </div>
    	<div class="toplink pc">
    	<%= link_to(image_tag('link-idea.png'), ideas_path) %> 
      <br><br>
      </div>
      <br><br>
    	<div class="toplink col-md-3 col-md-offset-3 pc">
    	<%= link_to(image_tag('link-about.png'), abouts_index_path) %> 
      </div>        <div class="toplink pc">
      <br>
    	</div>
  </div>
 </div>  
 <!--2つ終わり-->
 
 </div>  
</div>  
<!--リンク5つコンテナ終わり-->

</body>


<!--★★★スマホ用表示--★★★>
<body class = "top mb">

<!--ロゴ部分のコンテナ-->
<div class="containe-fluid top mb">
  <div class="rowA mb">
   <div class="col-xs-offset-2 col-xs-8 mb">
     <br>

 <a class="circle" href="~">
  <!--ロゴ３行-->
    <div class="logo mb">
      <b>に<span>ほ</span>ん<span>ご</span></b>
      <br>
      <b>き<span>ょ</span>う<span>し</span><span>の</span></b>
      <br>
      <b>ほ<span>し</span>い<span>も</span>の。</b>
    </div></a>
    <br><br><br>
   </div>
  </div>
<div>
<!--ロゴコンテナ終わり-->

<!--リンク（5つのイイメージ画像）部分のコンテナ  -->
<div class="container toplink mb">
 <div class="row mb">
   
   
 <!--リンク画像（左側3つ）-->
 <div class="col-xs-12 mb" style="zoom:0.8;">
      <div class="col-xs-offset-5 col-xs-5 toplink mb">
    	<%= link_to(image_tag('link-atsume.png'), topics_path) %> 
      </div>
  
    	<div class="col-xs-5 toplink mb">
    	<%= link_to(image_tag('link-lab.png'), labs_path) %> 
      </div>
  
    	<div class="col-xs-offset-5 col-xs-5 toplink mb">
    	<%= link_to(image_tag('link-soodan.png'), questions_path) %> 
      </div>
  
    	<div class="col-xs-5 toplink mb">
    	<%= link_to(image_tag('link-idea.png'), ideas_path) %> 
      </div>
  
    	<div class="col-xs-offset-5 col-xs-5 toplink mb">
    	<%= link_to(image_tag('link-about.png'), abouts_index_path) %> 
      </div>
 </div>   
 
</div> 

<!--ツイッタフォローボタン-->
<a href="https://twitter.com/nihongokyooshi1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @にほんごきょうしのほしいもの。</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>  
<!--リンク5つコンテナ終わり-->

<!--スマホ終わり-->

</body>





<!--不要なもの-->

  <!--ロゴ横長-->
    <!--<div class="logo"><b>N<span>ih</span>ong<span>o_</span>No</b><b>_T<span>su</span>kai<span>k</span>a<span>t</span>a</b><b>_L<span>A</span>B.</b></div>-->


  <!--ロゴ横長-->
    <!--<div class="logo"><b>に<span>ほ</span>ん<span>ご</span>き</b><b>ょ<span>う</span>し<span>の</span>ほ<span>し</span>い</b><b>も<span>の</span>。</b></div>-->

  <!--ロゴ３行-->
    <!--<div class="logo"><b>N<span>ih</span>ong<span>o_</span>No</b>-->
    <!--<br>-->
    <!--<b>T<span>su</span>kai<span>k</span>a<span>t</span>a</b>-->
    <!--<br>-->
    <!--<b>_L<span>A</span>B.</b></div>-->
 
  <!--ロゴ３行-->
    <!--<div class="logo"><b>Ka<span>ng</span>Ae<span>R</span>o!</span></b>-->
    <!--<br>-->
    <!--<b>Ni<span>h</span>on<span>g</span>o<span></span></b>-->
    <!--<br>-->
    <!--<b>K<span>y</span>oo<span>Shi</span></b>-->
    <!--</div>-->
 
 <!--ロゴ３行 大文字-->
    <!--<div class="logo"><b>Ka<span>N</span>GAe<span>R</span>U</span></b>-->
    <!--<br>-->
    <!--<b>NI<span>H</span>oN<span>G</span>o<span>_</span></b>-->
    <!--<br>-->
    <!--<b>K<span>Y</span>oo<span>SHI</span></b>-->
    <!--</div>-->
 
 <!--ロゴ３行 大文字-->
    <!--<div class="logo"><b>Ni<span>h</span>ong<span>o_</span></b>-->
    <!--<br>-->
    <!--<b>Ga<span>k</span>u<span>sh</span>u<span>u</span></b>-->
    <!--<br>-->
    <!--<b>S<span>upp</span>ort<span>e</span>r'<span>s</span>_L<span>AB.</span></b>-->
    <!--</div>-->

  <!--ロゴ３行-->
    <!--<div class="logo"><b>Ni<span>h</span>ong<span>o_</span></b>-->
    <!--<br>-->
    <!--<b>O<span>sh</span>ie<span>r</span>u<span></span></b>-->
    <!--<br>-->
    <!--<b>_L<span>a</span>B.</b></div>-->

<!--ロゴ３行-->
    <!--<div class="logo"><b>ニ<span>ホ</span>ン<span>ゴ</span></b>-->
    <!--<br>-->
    <!--<b>キ<span>ョ</span>ウ<span>シ</span><span>ノ</span></b>-->
    <!--<br>-->
    <!--<b>ホ<span>シ</span>イ<span>モ</span>ノ。</b></div>-->

   <!--<div class="col-md-5">-->

    <%#= link_to image_tag('btn.png'), '/books/index' %>
    <%#= link_to image_tag('hontokodomo.png'), root_path, :size =>'200x200' %>

<!--<div class="container_top">-->
<!--    <div class="row">-->
<!--      <div class ="col-md-5 xs-12 linkimage">-->
<!--         <div class="col-md-1 col-xs-3 linkimage">-->
<!--          <%#= image_tag 'link-atsume.png' %>-->
<!--         </div>-->
<!--         <br>-->
<!--         <div class="col-md-1 col-xs-3 linkimage">-->
<!--          <%#= image_tag 'link-atsume.png', :size =>'180x150' %>-->
<!--         </div>-->
<!--         <br>-->
<!--         <div class="col-md-2 col-xs-3 linkimage">-->
<!--          <%#= image_tag 'link-atsume.png', :size =>'180x150' %>-->
<!--         <br>-->
<!--         </div>-->
<!--         <div class="col-md-2 col-xs-3 linkimage">-->
<!--          <%#= image_tag 'link-atsume.png', :size =>'180x150' %>-->
<!--         </div>-->
<!--      </div>-->
<!--   </div> -->
<!--</div>  -->
  
