<!DOCTYPE html>
<html>
  <head>
    <title>Nihongoapp</title>
    <%= csrf_meta_tags %>

		
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kite+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>
  <!--ヘッダー-->
    <header>
    <!--ナビゲーションバーの上のスペース確保-->
    <div class="logospace">
      <%#= image_tag 'flame.jpg' %>
    </div>
    
  <!--ナビゲーションバー    -->
  <nav class="navbar">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  	
  	    <a class="navbar-brand headertitles" href="/">
  				にほんごきょうしのほしいもの。
  			</a>

  		</div>
  		
  		<div  id="navbarEexample7" class="collapse navbar-collapse">
  			<div class="nav navbar-nav">
  	 	   <%# if user_signed_in? %>
  				<li class="active"><%= link_to 'このサイトでできること', abouts_index_path %></li>
  				<li><%= link_to 'ふだんの日本語あつめ', topics_path %></li>
  				<li class="active"><%= link_to '日本語ぶんせき', labs_path %></li>
  				<li><%= link_to 'レッスンのコツとアイデア', ideas_path %></li>
  				<li class="active"><%= link_to 'そうだん', questions_path %></li>
  			<!--<%# else %>-->
     <!--     <%#= link_to "SIGN UP", new_user_registration_path, class: 'btn btn-lightgreen100_ftg btn-lg btnsizec' %>-->
     <!--     <%#= link_to "LOG IN", new_user_session_path, class: 'btn btn-amber200_ftg btn-lg btnsizeb' %>-->
     <!--     <%#= link_to "TOP", root_path, class: 'btn btn-biuegray200_flt btn-lg btnsizeb' %>-->
     <!-- <%# end %>-->
  			</div>
  		</div>
  	</div>
  </nav>
<!--navbar終わり-->


<!--ログインnavbar-->
    <div class="container-fluid">
    <div class="rowB">
    <% if user_signed_in? %>
      <%= link_to "LOG OUT ", destroy_user_session_path, method: :delete, class: 'btn btn-3'%>
      <%= link_to "TOP", root_path, class: 'btn btn-5' %>
    
    
    
    <% else %>
      <%= link_to "SIGN UP", new_user_registration_path, class: 'btn btn-1' %>
      <%= link_to "LOG IN", new_user_session_path, class: 'btn btn-4' %>
      <%= link_to "TOP", root_path, class: 'btn btn-2' %>
    <% end %>
    
    <!--「hello,～さん」の表示-->
    <% if user_signed_in? %>
    <p class="navbar-text">Hello, <a href="#" class="navbar-link">
     <%= current_user.name %></a> さん
    </p>
    <% end %>  
    </div>
    </div>
<!--ログインnavbarおわり-->


   <div class="noticearea">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
   </div>
   
  </header>
   

<!--全画面メニュー-->

<div class="cp_fullscreenmenu">
<input type="checkbox" id="menuToggle" />
<label for="menuToggle" class="hamburger">
<div class="open"></div>
</label>
<div class="menu menuEffects">
<label for="menuToggle"></label>
<div class="menucont">
<ul>
	<li><%= link_to 'このサイトでできること', abouts_index_path %></li>
	<li><%= link_to 'ふだんの日本語あつめ', topics_path %></li>
	<li><%= link_to '日本語ぶんせき', labs_path %></li>
	<li><%= link_to 'レッスンのコツとアイデア', ideas_path %></li>
	<li><%= link_to 'そうだん', questions_path %></li>  
</ul>
</div>
</div>
</div>


<!--全画面メニューおわり-->



    <%= yield %>
    
    <div class="bottom"></div>
      
<!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p>Copyright &copy; にほんごきょうしのほしいもの。 2018</p>
      </div>
    </footer>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="modal.js"></script>

    
    
  </body>
</html>





<!--前のサイドメニュー-->
<!--<div id="menuArea">-->
<!--  <input type="checkbox" id="menuToggle"></input>-->

<!--<label for="menuToggle" class="menuOpen">-->
<!--  <div class="open"></div>-->
<!--</label>-->

<!--<div class="menu menuEffects">-->
<!--  <label for="menuToggle"></label>-->
<!--  <div class="menuContent">-->
<!--    <ul>-->
<!--      <li><a href="/">TOP</a></li>-->
<!--      <li><a href="/topics/about/">ABOUT </a></li>-->
<!--      <li><a href="/topics/index">Nihongo-Hunt!!</a></li>-->
<!--      <li><a href="/columns/index">Column</a></li>-->
<!--      <li><a href="/questions/index">*for teachers* QABoard</a></li>-->
<!--      <li><a href="/questions/index">*for teachers* Lesson idea</a></li>-->
<!--      <li><a href="/questions/index">*for teachers* Lab.</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--終わり-->
    